---
layout: page
title: home
published: true
---

<div id="home" class="page_wrapper">

    <!-- Start Container -->
    <section class="container">

      <!-- Start Page -->
      <div class="page">

        <!-- Start Slider -->
        <div class="flexslider-container">
          <div id="slider" class="flexslider">
            <ul class="slides">
              {% for post in site.categories['slider'] limit:5%}
              <li>
                {% if post.link %}
                <a href="{{post.link}}"><img src="/assets/img/{{post.img}}" alt="" /></a>
                {% else %}
                <img src="/assets/img/{{post.img}}" alt="" />
                {% endif %}
                <p class="flex-caption">
                  {% if post.link %}
                  <b><a href="{{post.link}}">{{post.title}}</a></b>
                  {% else %}
                  <b>{{post.title}}</b>
                  {% endif %}
                <b class="right">{{post.attrib}}</b>
              {% endfor %}
              </ul>
          </div>
        </div>
        <!-- End Slider -->

        <div class="sub_heading">
          <h2>Rip City Math</h2>
          <span class="line"></span>
        </div>
        <div id="revolution_wrap" class="full">
          <div id="description" class="one_third">
            <h3>Mission Statement</h3>

            <p>Rip City Math is dedicated to supporting students age 6-15 with skills, conceptual understandings, preparedness and confidence in mathematics, helping parents and educators get kids excited about math, and increasing math literacy in our community.</p>

          </div>

          <!-- Start Actions -->
          <div id="actions">
            <div class="box one_half">
              <div class="inner">
                <div class="box_heading">
                  <span class="icon general-enclosed">2</span>
                  <h4>Register for Math Workshops</h4>
                </div>
                <p>To register for a workshop, please email ripcitymath@gmail.com or call 971-266-1213
                </p>
              </div>
            </div>
            <div class="box one_half column_last">
              <div class="inner">
                <div class="box_heading">
                  <span class="icon general-enclosed">o</span>
                  <h4>Math Wiki</h4>
                </div>
                <p>Participate in starting a Math Wiki on Rip City Math's Website. Teachers, assign for extra credit or special projects, parents of home schooled children, assign as an assessment for conceptual undersanding and math writing.</p>
              </div>
            </div>
            <div class="box one_half">
              <div class="inner">
                <div class="box_heading">
                  <span class="icon general-enclosed">~</span>
                  <h4>Explore</h4>
                </div>
                <p>Games, ThinkQuests, Resources, Puzzles, Codes, Math Problems will be here for you to explore.</p>
              </div>
            </div>
            <div class="box one_half column_last">
              <div class="inner">
                <div class="box_heading">
                  <span class="icon general-enclosed">l</span>
                  <h4>Wish List</h4>
                </div>
                <p>Please check out the wish list for Rip City Math if you are looking to donate to a great cause! </p>
              </div>
            </div>
          </div>
          <!-- End Actions -->
        </div>


        <!-- Start Help -->

        <!-- End Help -->

        <!-- Start Items -->
        <div id="items">

          <!-- Start News -->
          <div class="news one_third">
            <div class="box_heading">
              <h2>Blog</h2>
              <span class="line"></span>
            </div>
            <ul>
              <li>
                <h5><a href="blog_single.html">Summer Workshops</a></h5>
                <p>Coming August 2014!</p>
              </li>
              <li>
                <h5><a href="blog_single.html">Math Curriculums in Portland Public Schools</a></h5>
                <p>A list of which schools use which curriculums including links when possible.</p>
              </li>
              <li>
                <h5><a href="blog_single.html">Times Tables</a></h5>
                <p>Some curious information</p>
              </li>

            </ul>
          </div>
          <!-- End News -->

          <!-- Start Events -->
          <div class="events one_third">
            <div class="box_heading">
              <h2>Events</h2>
              <span class="line"></span>
            </div>
            <ul>
              <li>
                <div class="date"><span>23</span> May</div>
                <div class="details">
                  <h5><a href="event_description.html">Community Math Seminar</a></h5>
                  <p>TaborSpace Annex</p>
                </div>
              </li>
              <li>
                <div class="date"><span>31</span> August</div>
                <div class="details">
                  <h5><a href="event_description.html">Another Math Thing</a></h5>
                  <p>6pm My House</p>
                </div>
              </li>
              <li>
                <div class="date"><span>21</span> May</div>
                <div class="details">
                  <h5><a href="event_description.html">Math Gardening</a></h5>
                  <p>2pm @ Foster Community Garden</p>
                </div>
              </li>
              <li>
                <div class="date"><span>18</span> May</div>
                <div class="details">
                  <h5><a href="event_description.html">Parent Discussion</a></h5>
                  <p>10am @ Rip City Math</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- End Events -->

          <!-- Start Sponsors -->
          <div id="sponsors" class="one_third column_last">
            <div class="box_heading">
              <h2>Websites I Love</h2>
              <span class="line"></span>
            </div>
            <ul>
              <li><img src="/assets/lib/images/content/sponsor-1.png" alt="Sponsor 1" /></li>
              <li class="last"><img src="/assets/lib/images/content/sponsor-2.png" alt="Sponsor 2" /></li>
              <li><img src="/assets/lib/images/content/sponsor-3.png" alt="Sponsor 3" /></li>
              <li class="last"><img src="/assets/lib/images/content/sponsor-4.png" alt="Sponsor 4" /></li>
              <li><img src="/assets/lib/images/content/sponsor-5.png" alt="Sponsor 5" /></li>
              <li class="last"><img src="/assets/lib/images/content/sponsor-6.png" alt="Sponsor 6" /></li>
              <li class="bottom"><img src="/assets/lib/images/content/sponsor-9.png" alt="Sponsor 9" /></li>
              <li class="bottom last"><img src="/assets/lib/images/content/sponsor-7.png" alt="Sponsor 7" /></li>
            </ul>
          </div>
          <!-- End Sponsors -->

        </div>
        <!-- End Items -->

      </div>
      <!-- End Page -->

    </section>
    <!-- End Container -->

</div>