---
layout: page
title: home
published: true
---

<div id="home" class="page_wrapper">

    <!-- Start Container -->
    <section class="container">

      <!-- Start Page -->
      <div class="page">

        <!-- Start Slider -->
        <div class="flexslider-container">
          <div id="slider" class="flexslider">
            <ul class="slides">
              {% for post in site.categories['slider'] limit:5%}
              <li>
                {% if post.link %}
                <a href="{{post.link}}"><img src="/assets/img/{{post.img}}" alt="" /></a>
                {% else %}
                <img src="/assets/img/{{post.img}}" alt="" />
                {% endif %}
                <p class="flex-caption">
                  {% if post.link %}
                  <b><a href="{{post.link}}">{{post.title}}</a></b>
                  {% else %}
                  <b>{{post.title}}</b>
                  {% endif %}
                <b class="right">{{post.attrib}}</b>
              {% endfor %}
              </ul>
          </div>
        </div>
        <!-- End Slider -->

        <div class="sub_heading">
          <h2>Rip City Math</h2>
          <span class="line"></span>
        </div>
        <div id="revolution_wrap" class="full">
          <div id="description" class="one_third">
            <h3>Mission Statement</h3>

            <p>Rip City Math is dedicated to supporting students age 6-15 with skills, conceptual understandings, preparedness and confidence in mathematics, helping parents and educators get kids excited about math, and increasing math literacy in our community.</p>

          </div>

          <!-- Start Actions -->
          <div id="actions">
            <div class="box one_half">
              <div class="inner">
                <div class="box_heading">
                  <span class="icon general-enclosed">2</span>
                  <h4>Register for Workshops</h4>
                </div>
                <p>To register for a workshop, please fill out the form at the bottom of the workshop page, or email <a href="mailto:ripcitymath@gmail.com" target="_blank">ripcitymath@gmail.com</a> or call 971-266-1213
                </p>
              </div>
            </div>
            <div class="box one_half column_last">
              <div class="inner">
                <div class="box_heading">
                  <span class="icon general-enclosed">o</span>
                  <h4>Math Wiki</h4>
                </div>
                <p>Participate in starting a Math Wiki on Rip City Math's Website. Teachers, assign for extra credit or special projects, parents of home schooled children, assign as an assessment for conceptual undersanding and math writing.</p>
              </div>
            </div>
            <div class="box one_half">
              <div class="inner">
                <div class="box_heading">
                  <span class="icon general-enclosed">~</span>
                  <h4>Math Slam!</h4>
                </div>
                <h2><b><i>Door prizes and snacks!</b></i></h2>
                <p>Come express your personal experience with math in an all ages slam format (think poetry slam but with math). Each person or group will have up to 3 minutes at a microphone to tell their story or share an idea through words, songs, pictures, skits, or other age appropriate performance. Sign up on the clipboard by the door when you arrive. </p>
                 <p><b>Where: TaborSpace</b></p>
                  <p><b>When: 08/31/14 7:00-8:30pm</b></p>
                  <p><b>Who: Everyone </b></p>
                  <p><b>Cost: Free! </b></p>
              </div>
            </div>
            <div class="box one_half column_last">
              <div class="inner">
                <div class="box_heading">
                  <span class="icon general-enclosed">l</span>
                  <h4>Mathematics</h4>
                </div>
                <p> is cool</p>
              </div>
            </div>
          </div>
          <!-- End Actions -->
        </div>


        <!-- Start Help -->

        <!-- End Help -->

        <!-- Start Items -->
        <div id="items">

          <!-- Start News -->
          <div class="news two_thirds">
            <div class="box_heading">
              <h2>Blog</h2>
              <span class="line"></span>
            </div>
            <ul>
              {% for post in site.categories['blog'] reversed limit:4 %}
              <li>
                <h5><a href="{{post.url}}">{{post.title}}</a></h5>
                <p>{{post.excerpt}}</p>
                <div class="right">
                  <a href="{{post.url}}">read more...</a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- End News -->

          <!-- Start Events -->
          <div class="events one_third column_last">
            <div class="box_heading">
              <h2>Events</h2>
              <span class="line"></span>
            </div>
            <ul>
              {% for workshop in site.categories['workshops'] reversed limit:4 %}
              <li>
                <div class="date"><span>{{workshop.date| date: "%d" }}</span> {{workshop.date| date: "%b" }}</div>
                <div class="details">
                  <h5><a href="{{workshop.url}}">{{workshop.title}}</a></h5>
                  <p>{{workshop.location}}</p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <!-- End Events -->

          <!-- Start Sponsors -->
       <!--    <div id="sponsors" class="one_third column_last">
            <div class="box_heading">
              <h2>Websites I Love</h2>
              <span class="line"></span>
            </div>
            <ul>
              <li><img src="/assets/lib/images/content/sponsor-1.png" alt="Sponsor 1" /></li>
              <li class="last"><img src="/assets/lib/images/content/sponsor-2.png" alt="Sponsor 2" /></li>
              <li><img src="/assets/lib/images/content/sponsor-3.png" alt="Sponsor 3" /></li>
              <li class="last"><img src="/assets/lib/images/content/sponsor-4.png" alt="Sponsor 4" /></li>
              <li><img src="/assets/lib/images/content/sponsor-5.png" alt="Sponsor 5" /></li>
              <li class="last"><img src="/assets/lib/images/content/sponsor-6.png" alt="Sponsor 6" /></li>
              <li class="bottom"><img src="/assets/lib/images/content/sponsor-9.png" alt="Sponsor 9" /></li>
              <li class="bottom last"><img src="/assets/lib/images/content/sponsor-7.png" alt="Sponsor 7" /></li>
            </ul>
          </div> -->
          <!-- End Sponsors -->

        </div>
        <!-- End Items -->

      </div>
      <!-- End Page -->

    </section>
    <!-- End Container -->

</div>