p {
  font-size: 16px !important;
}

.left {
  float: left;
}
.right {
  float: right;
}
.event_date .buttons {
    margin-top: 20px;
}
#programs .button {
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
}